<div ng-cloak>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-branding"> <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span> <a class="navbar-brand" ui-sref="home"><img src="assets/img/logo.png" /></a> </div>
  </header>
  <div id="main">
    <aside id="sidebar_left">
      <side-bar></side-bar>
    </aside>
    <section id="content_wrapper" class="panel panel-whg mt5">
      <div id="content">
        <div ui-view></div>
      </div>
    </section>
  </div>
</div>

